ErrorDocument 404 /error/404.html

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

<Files "connect.php">  
  Order Allow,Deny
  Deny from all
</Files>

Options -Indexes -MultiViews

RewriteEngine on
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html